<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microservice.rabbitmq.devices.mapperx.DevManageMapper">

	  <select id="delAllTable" parameterType="java.lang.String">

	    DELETE t1,t2,t3,t4,t5 from dev_basic_info t1

		LEFT JOIN dev_board_info t2 ON t1.id=t2.basic_info_id
		
		LEFT JOIN dev_chassis_info t3 ON t1.id=t3.basicinfo_id 
		
		LEFT JOIN dev_subboard_info t4 ON t4.board_id=t2.id
		
		LEFT JOIN dev_interface_info t5 ON t5.basicinfo_id=t1.id
		
		WHERE t1.user_id=#{userid,jdbcType=VARCHAR}
	  </select>	
</mapper>